{% extends 'mainQuizApp/base.html' %}

{% load myapp_tags %}


{% block title %}{{title}}{% endblock %}
{% block content %}

{% if started_tests %}
<div class="p-5 mb-4 bg-light rounded-3">
    <h1 class="display-6 fw-bold">Начатые тесты</h1>

    <div class="list-group">
        {% for test in started_tests %}
        <a href="{% url 'test_view' test.pk %}" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ test.file__name }}</h5>
                <small class="text-muted">Начат {{ test.started_at|time_since }} назад.</small>
            </div>
            <p class="mb-1">Вопросов: {{ test.question_count }}</p>
            <small class="text-muted">And some muted small print.</small>
        </a>
        {% endfor %}
    </div>
</div>


{% endif %}

<div class="p-5 mb-4 bg-light rounded-3">
    <h1 class="display-6 fw-bold">Ранее загруженные документы</h1>
    {% if files %}
    <div class="list-group">
        {% for file in files %}
        <a href="{% url 'test_config' file.pk %}" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ file.name }}</h5>
                <small class="text-muted">File uploaded: {{ file.uploaded_at }}</small>
            </div>
            <p class="mb-1">Обнаружено {{ file.questions_count}} вопросов.</p>
            <small class="text-muted">and another</small>
        </a>
        {% endfor%}


    </div>

    {% else %}
    У вас нет ранее загруженных документов. Загрузите их!
    {% endif %}
    <form action="{% url 'upload_docx' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="input-group mb-3">
            <input type="file" class="form-control" id="inputGroupFile01" name="file"
                   accept=".doc,.docx">
        </div>
        <button class="btn btn-primary btn-lg" type="submit">Upload</button>
    </form>

</div>

{% if finished_tests %}
<div class="p-5 mb-4 bg-light rounded-3">
    <h1 class="display-6 fw-bold">Последние завершенные тесты</h1>
    <small>P.S. История тестов хранит в себе только последние 5 завершенных тестов ради экономии памяти в нашей
        драгоценной базе данных. </small>
    <div class="list-group">
        {% for test in finished_tests %}
        <a href="{% url 'test_result_view' test.pk %}" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ test.file__name }}</h5>
                <small class="text-muted">Завершено: {{ test.finished_at }}</small>
            </div>

            <p class="mb-1">
                Вы ответили на {{ test.result }}/{{ test.question_count }}. Это:
                <script>
                    var result = {{ test.result }};
                    var questionCount = {{ test.question_count }};
                    var percentage = (result / questionCount) * 100;
                    document.write(percentage.toFixed(1));



                </script>
                %
            </p>

        </a>
        {% endfor%}


    </div>

</div>
{% endif %}

{% endblock %}