<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta
            name="viewport"
            content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="HandheldFriendly" content="true"/>
    <meta name="format-detection" content="telephone=no"/>
    <title>Quiz Project</title>

    <!-- Styles -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'mainQuizApp/css/main.css' %}"/>
    <style>
.quiz-wrapper {
    background: url('{% static 'mainQuizApp/jpg/bg.jpg' %}');
    }


    </style>
    <script>
  const quizData = [
  {% for question_dict in test_array %}
  {
    question:`{{ question_dict.question|safe}}`,
    a: `{{ question_dict.answer1|safe }}`,
    b: `{{ question_dict.answer2|safe }}`,
    c: `{{ question_dict.answer3|safe }}`,
    d: `{{ question_dict.answer4|safe }}`,
    e: `{{ question_dict.answer5|safe }}`,
    correct: '{{ question_dict.correct_answer }}',
  },
  {% endfor %}
  ];


    </script>
</head>

<body>
<div class="popup-areusure popup-fuck">
      <div class="popup-box">
        <div class="popup-text">
          <h3>Ну что, завершаем?</h3>
          <small
            >Советую хорошенько проверить на все ли вопросы ты ответил.. Попытка
            всё-таки одна</small
          >
        </div>
        <div class="areusure">
          <button class="areusure-yes areusure-btn">
            Да, я хочу покончить с этим :(
          </button>
          <button class="areusure-no areusure-btn">
            Нет брат, я передумал(а)
          </button>
        </div>
      </div>
    </div>
    <div class="quiz-wrapper">
      <div class="quiz-box" id="quiz">
        <div class="quiz-header">
          <div class="quiz-counter">
            <span class="quiz-counter__current-question">0</span>/<span
              class="quiz-counter__question-amount"
            >
              0
            </span>
          </div>
          <h2 id="question">Question</h2>
          <ul>
            <li id="li1" class="li">
              <input type="radio" name="answer" id="a" class="answer" />
              <label for="a" id="a_text" class="text"> 1 </label>
            </li>
            <li id="li2" class="li">
              <input type="radio" name="answer" id="b" class="answer" />
              <label for="b" id="b_text" class="text">2 </label>
            </li>
            <li id="li3" class="li">
              <input type="radio" name="answer" id="c" class="answer" />
              <label for="c" id="c_text" class="text">3 </label>
            </li>
            <li id="li4" class="li">
              <input type="radio" name="answer" id="d" class="answer" />
              <label for="d" id="d_text" class="text">4 </label>
            </li>
            <li id="li5" class="li">
              <input type="radio" name="answer" id="e" class="answer" />
              <label for="e" id="e_text" class="text">5 </label>
            </li>
          </ul>
          <div class="question-numlist">
            <div class="shit"></div>
            <button id="submit" class="good_btn">Завершить тест</button>
          </div>
        </div>
      </div>
    </div>

    <button class="leave-page good_btn">Настройки</button>

<script src="{% static 'mainQuizApp/js/keyboard_interface.js' %}"></script>
<script src="{% static 'mainQuizApp/js/main.js' %}"></script>
</body>
</html>
